<div id="user-login-form" class="">
    <form ng-if="!userLoginCtrl.isLoggedIn">
        <span class="form-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="userLoginCtrl.user.email">
        </span>
        <span class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="userLoginCtrl.user.password" >
        </span>
        <span>
            <button type="submit" class="btn btn-default" ng-click="userLoginCtrl.loginUser()">Login</button>
        </span>
        <span>
            <a href="/api/users/login/google" class="btn btn-warning">Google</a>
        </span>
    </form>
    <button class="btn btn-default" ng-if="userLoginCtrl.isLoggedIn" ng-click="userLoginCtrl.logout()">Logout</button>
</div>
