<div id="user-login-form" class="">
    <form class="navbar-form">
        <span class="form-group">
            <input type="email" class="form-control input-lg text-center" placeholder="Email" ng-model="userLoginCtrl.user.email">
        </span>
        <span class="form-group">
            <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="userLoginCtrl.user.password" >
        </span>
        <span>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="userLoginCtrl.loginUser()">Login</button>
        </span>
    </form>
</div>
